@if (Show)
{
    <div class="dialog-container">
        <div class="@ChildCssClass">
            @ChildContent
        </div>
    </div>
}
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public string ChildCssClass { get; set; } = "dialog";
}